@page
@model AverageRangeMethodModel
@{
    ViewData["Title"] = "Gage R&R";

    string GetInputId(int appraiser, int trial, int part)
    {
        return $"input-{appraiser}-{trial}-{part}";
    }

    string GetAppraiserPartAvgId(int appraiser, int part)
    {
        return $"app-part-avg-{appraiser}-{part}";
    }

    string GetAppraiserPartRangeId(int appraiser, int part)
    {
        return $"app-part-range-{appraiser}-{part}";
    }

    string GetAppraiserTrialAvgId(int appraiser, int trial)
    {
        return $"app-trial-avg-{appraiser}-{trial}";
    }

    string GetAppraiserPartAvgAvgId(int appraiser)
    {
        return $"app-part-avg-avg-{appraiser}";
    }

    string GetAppraiserPartRangeAvgId(int appraiser)
    {
        return $"app-part-range-avg-{appraiser}";
    }

    string GetPartAvgId(int part)
    {
        return $"part-avg-{part}";
    }
}


<style>
    .Page {
        width: 100%;
        --cell-height: 30px;
        --part-count: @Model.Part;
        --trial-count: @Model.Trial;
        --appraiser-count: @Model.Appraiser;
    }
</style>

<script>
    window.RazorPage = {
        AppraiserCount: @(Model.Appraiser),
        TrialCount: @(Model.Trial),
        PartCount: @(Model.Part),
    }
</script>

<script src="~/lib/app/exceljs.js"></script>
<script src="~/lib/app/FileSaver.js"></script>
<script src="~/app/AverageRangeMethod.js"></script>

<div class="Page">
    <div class="Toolbar">
        <button class="Button" onclick="Page.downloadExcel()">엑셀다운로드</button>
        <label for="file" class="Button">엑셀업로드</label>
        <input id="file" type="file" style="display:none;" onchange="Page.uploadExcel(event)" />
    </div>
    <form>
        <div class="Form">
            <div style="grid-row:1; grid-column: 1; justify-self:end;">
                <label for="appraiser">측정자</label>
            </div>
            <div style="grid-row:1; grid-column: 2;">
                <input name="appraiser" value="@Model.Appraiser" />
            </div>
            <div style="grid-column: 3; justify-self:end;">
                <label for="trial">파트</label>
            </div>
            <div style="grid-column: 4;">
                <input name="part" value="@Model.Part" />
            </div>
            <div style="grid-column: 5; justify-self:end;">
                <label for="trial">반복</label>
            </div>
            <div style="grid-column: 6;">
                <input name="part" value="@Model.Part" />
            </div>
            <div style="grid-column: 7/9;">
                <button type="submit">레이아웃 적용</button>
            </div>
        </div>
    </form>
    <div class="Form">
        <div style="grid-row:1; grid-column: 1; justify-self:end;">
            <label for="sl">규격하한(SL)</label>
        </div>
        <div style="grid-row:1; grid-column: 2;">

            <input id="sl" name="sl" value="24" type="number" />
        </div>
        <div style="grid-column: 3; justify-self:end;">
            <label for="su">규격상한(SU)</label>
        </div>
        <div style="grid-column: 4;">
            <input id="su" name="su" value="24.2" type="number" />
        </div>
        <div style="grid-column: 5/7;">
            <button onclick="Page.calcuate()">Avg_Range Gage R&R 계산</button>
        </div>
    </div>
    @* 헤더  *@




    @* Captions *@
    <div class="CaptionGrid">
        <div class="GridItem" style="grid-column:1; grid-row: 1/3;">
            <div class="CenterContainer">
                <span>측정자</span>
            </div>
        </div>
        <div class="GridItem" style="grid-column:2; grid-row: 1/3;">
            <div class="CenterContainer">
                <span>횟수</span>
            </div>
        </div>
        <div class="GridItem" style="grid-column:3/@(Model.Part + 3); grid-row: 1/2;">
            <div class="CenterContainer">
                <span>부품(Part)</span>
            </div>
        </div>
        @for (int part = 1; part <= Model.Part; part++)
        {
            <div class="GridItem" style="grid-column:@(part + 2); grid-row: 2;">
                <div class="CenterContainer">
                    <span>@part</span>
                </div>
            </div>
        }

        <div class="GridItem" style="grid-column:@(Model.Part + 3); grid-row: 1/3;">
            <div class="CenterContainer">
                <span>평균</span>
            </div>
        </div>
    </div>

    @for (int appraiser = 1; appraiser <= Model.Appraiser; appraiser++)
    {
        <div class="InputGrid">
            <div class="GridItem" style="grid-column:1; grid-row: 1/@(Model.Trial + 1);">
                <div class="CenterContainer">
                    @*<span>@(Model.AppraiserNames[appraiser - 1])</span>*@
                    <span>@(appraiser)번</span>
                </div>
            </div>

            @for (int trial = 1; trial <= Model.Trial; trial++)
            {
                <div class="GridItem" style="grid-column:2; grid-row: @trial;">
                    <div class="CenterContainer">
                        <span>@(trial)회</span>
                    </div>
                </div>

                @for (int part = 1; part <= Model.Part; part++)
                {
                    <div class="GridItem" style="grid-column:@(part + 2); grid-row: @trial;">

                        @* 측정값 입력 *@
                        <input id="@(GetInputId(appraiser, trial, part))"
                               appraiser="@appraiser" trial="@(trial)" part="@(part)"
                               type="number"
                               onpaste="Page.handlePaste(event)" />
                    </div>
                }
            }

            <div class="GridItem" style="grid-column: 1/3; grid-row:@(Model.Trial + 1);">
                <div class="CenterContainer">
                    <span>평균</span>
                </div>
            </div>

            @* 평균 *@
            @for (int part = 1; part <= Model.Part; part++)
            {
                <div class="GridItem" style="grid-column:@(part + 2); grid-row: @(Model.Trial + 1);">
                    <input id="@(GetAppraiserPartAvgId(appraiser, part))" readonly />
                </div>
            }

            <div class="GridItem" style="grid-column: 1/3; grid-row:@(Model.Trial + 2);">
                <div class="CenterContainer">
                    <span>범위</span>
                </div>
            </div>

            @* 범위 *@
            @for (int part = 1; part <= Model.Part; part++)
            {
                <div class="GridItem" style="grid-column:@(part + 2); grid-row: @(Model.Trial + 2);">

                    <input id="@(GetAppraiserPartRangeId(appraiser, part))" value="" readonly />
                </div>
            }

            @* 전체 평균 *@
            @for (int trial = 1; trial <= Model.Trial; trial++)
            {
                <div class="GridItem" style="grid-column:@(Model.Part + 3); grid-row: @trial;">
                    <input id="@(GetAppraiserTrialAvgId(appraiser, trial))" readonly />
                </div>
            }
            <div class="GridItem" style="grid-column:@(Model.Part + 3); grid-row: @(Model.Trial + 1);">
                <input id="@(GetAppraiserPartAvgAvgId(appraiser))" readonly />
            </div>
            <div class="GridItem" style="grid-column:@(Model.Part + 3); grid-row: @(Model.Trial + 2);">
                <input id="@(GetAppraiserPartRangeAvgId(appraiser))" readonly />
            </div>
        </div>
    }


    @* 파트 평균 *@
    <div class="PartAvgGrid">
        <div class="GridItem" style="grid-row: 1; grid-column:1/3;">
            <div class="CenterContainer">
                <span>파트평균</span>
            </div>
        </div>

        @for (int part = 1; part <= Model.Part; part++)
        {
            <div class="GridItem" style="grid-row: 1; grid-column:@(part + 2);">
                <input id="@(GetPartAvgId(part))" value="" readonly />
            </div>
        }
        <div class="GridItem" style="grid-row: 1; grid-column:@(Model.Part + 3);">
            <input id="resultAvg" readonly />
        </div>
    </div>

    @* 결과1 *@
    <div class="ResultGrid">
        <div class="GridItem" style="grid-row: 1; grid-column:@(Model.Part + 2);">
            <div class="CenterContainer">
                <span>Rp</span>
            </div>
        </div>
        <div class="GridItem" style="grid-row: 2; grid-column:@(Model.Part + 2)">
            <div class="CenterContainer">
                <span>R__</span>
            </div>
        </div>
        <div class="GridItem" style="grid-row: 3; grid-column:@(Model.Part + 2);">
            <div class="CenterContainer">
                <span>X_Diff</span>
            </div>
        </div>


        <div class="GridItem" style="grid-row: 1; grid-column:@(Model.Part + 3);">
            <input id="output-rp" readonly />
        </div>
        <div class="GridItem" style="grid-row: 2; grid-column:@(Model.Part + 3);">
            <input id="output-r__" readonly />
        </div>
        <div class="GridItem" style="grid-row: 3; grid-column:@(Model.Part + 3);">
            <input id="output-x_diff" readonly />
        </div>
    </div>

    @* 결과2 *@
    <div class="ResultGrid2">
        @* 표준편차 *@
        <div class="GridItem" style="grid-row: 1; grid-column:1;">
            <div class="CenterContainer">
                <span>EV</span>
            </div>
        </div>

        <div class="GridItem" style="grid-row: 2; grid-column:1; ">
            <div class="CenterContainer">
                <span>AV</span>
            </div>
        </div>


        <div class="GridItem" style="grid-row: 3; grid-column:1; ">
            <div class="CenterContainer">
                <span>R&R</span>
            </div>
        </div>

        <div class="GridItem" style="grid-row: 4; grid-column:1; ">
            <div class="CenterContainer">
                <span>PV</span>
            </div>
        </div>

        <div class="GridItem" style="grid-row:5; grid-column: 1;">
            <div class="CenterContainer">
                <span>TV</span>
            </div>
        </div>

        <div class="GridItem" style="grid-row:6; grid-column: 1;">
            <div class="CenterContainer">
                <span>NDC</span>
            </div>
        </div>

        <div class="GridItem" style="grid-column:2; grid-row: 1;">
            <div class="CenterContainer">
                <input id="output-ev_sd" readonly />
            </div>
        </div>
        <div class="GridItem" style="grid-column:2; grid-row: 2;">
            <div class="CenterContainer">
                <input id="output-av_sd" readonly />
            </div>
        </div>
        <div class="GridItem" style="grid-row: 3; grid-column:2; ">
            <div class="CenterContainer">
                <input id="grr_sd" readonly />
            </div>
        </div>
        <div class="GridItem" style="grid-row: 4; grid-column:2; ">
            <div class="CenterContainer">
                <input id="output-pv_sd" readonly />
            </div>
        </div>

        <div class="GridItem" style="grid-row: 5; grid-column:2; ">
            <div class="CenterContainer">
                <input id="output-tv_sd" readonly />
            </div>
        </div>

        <div class="GridItem" style="grid-row: 6; grid-column:2; ">
            <div class="CenterContainer">
                <input id="output-ndc" readonly />
            </div>
        </div>


        @* 공정변동 *@
        <div class="GridItem" style="grid-row: 1; grid-column:3;">
            <div class="CenterContainer">
                <span>EV_SV(%)</span>
            </div>
        </div>

        <div class="GridItem" style="grid-row: 2; grid-column:3; ">
            <div class="CenterContainer">
                <span>AV_SV(%)</span>
            </div>
        </div>


        <div class="GridItem" style="grid-row: 3; grid-column:3; ">
            <div class="CenterContainer">
                <span>R&R_SV(%)</span>
            </div>
        </div>

        <div class="GridItem" style="grid-row: 4; grid-column:3; ">
            <div class="CenterContainer">
                <span>PV_SV(%)</span>
            </div>
        </div>


        <div class="GridItem" style="grid-row: 1; grid-column:4;">
            <div class="CenterContainer">
                <input id="output-ev_sv" readonly />
            </div>
        </div>
        <div class="GridItem" style="grid-row: 2; grid-column:4;">
            <div class="CenterContainer">
                <input id="output-av_sv" readonly />
            </div>
        </div>
        <div class="GridItem" style="grid-row: 3; grid-column:4; ">
            <div class="CenterContainer">
                <input id="output-grr_sv" readonly />
            </div>
        </div>
        <div class="GridItem" style="grid-row: 4; grid-column:4; ">
            <div class="CenterContainer">
                <input id="output-pv_sv" readonly />
            </div>
        </div>


        @* 공차 *@

        <div class="GridItem" style="grid-row: 1; grid-column:5;">
            <div class="CenterContainer">
                <span>EV_T(%)</span>
            </div>
        </div>

        <div class="GridItem" style="grid-row: 2; grid-column:5; ">
            <div class="CenterContainer">
                <span>AV_T(%)</span>
            </div>
        </div>


        <div class="GridItem" style="grid-row: 3; grid-column:5; ">
            <div class="CenterContainer">
                <span>R&R_T(%)</span>
            </div>
        </div>

        <div class="GridItem" style="grid-row: 4; grid-column:5; ">
            <div class="CenterContainer">
                <span>PV_T(%)</span>
            </div>
        </div>

        <div class="GridItem" style="grid-row: 1; grid-column:6;">
            <div class="CenterContainer">
                <input id="output-ev_t" readonly />
            </div>
        </div>
        <div class="GridItem" style="grid-row: 2; grid-column:6;">
            <div class="CenterContainer">
                <input id="output-av_t" readonly />
            </div>
        </div>
        <div class="GridItem" style="grid-row: 3; grid-column:6; ">
            <div class="CenterContainer">
                <input id="output-grr_t" readonly />
            </div>
        </div>
        <div class="GridItem" style="grid-row: 4; grid-column:6; ">
            <div class="CenterContainer">
                <input id="output-pv_t" readonly />
            </div>
        </div>
    </div>
</div>