@page
@model Services.GageRR.WebApp.Pages.RangeMethodModel
@{
    ViewData["Title"] = "Gage R&R";

    string GetInputId(int appraiser, int part)
    {
        return $"input-{appraiser}-{part}";
    }

    string GetInputAvgId(int appraiser)
    {
        return $"input-avg-{appraiser}";
    }

    string GetRangeId(int part)
    {
        return $"range-{part}";
    }

    string GetRangeAvgId()
    {
        return $"range-avg";
    }

}


<style>


    /* Hide number input arrow */
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }


    :root {
        --cell-height: 30px;
        --part-count: @Model.Part;
        --appraiser-count: @Model.Appraiser;
    }

    .CaptionGrid {
        display: grid;
        width: 100%;
        grid-template-columns: 100px repeat(var(--part-count), minmax(20px, 1fr)) 100px;
        grid-template-rows: repeat(2, var(--cell-height));
        background-color: blanchedalmond;
        align-items: center;
        justify-content: center;
    }

    .InputGrid {
        display: grid;
        width: 100%;
        grid-template-columns: 100px repeat(var(--part-count), minmax(20px, 1fr)) 100px;
        grid-template-rows: repeat(1, var(--cell-height));
        background-color: antiquewhite;
        align-items: center;
        justify-content: center;
    }

    .RangeGrid {
        display: grid;
        width: 100%;
        grid-template-columns: 100px repeat(var(--part-count), minmax(20px, 1fr)) 100px;
        grid-template-rows: repeat(1, var(--cell-height));
        background-color: antiquewhite;
        align-items: center;
        justify-content: center;
    }

    .OutputGrid {
        display: grid;
        width: 100%;
        grid-template-columns: 100px repeat(var(--part-count), minmax(20px, 1fr)) 100px;
        grid-template-rows: repeat(3, var(--cell-height));
        align-items: center;
        justify-content: center;
    }

        .OutputGrid .GridItem[caption] {
            background-color: lightblue;
        }

    .GridItem {
        width: 100%;
        height: 100%;
        border: 1px solid black;
        border-width: 0px 1px 1px 0px;
    }

        .GridItem input {
            width: 100%;
            height: 100%;
            border: none;
            text-align: center;
        }

            .GridItem input[readonly] {
                background-color: #eee;
            }

    .CenterContainer {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>
<script>
    window.basicInfo = {
        appraiserCount: @(Model.Appraiser),
        partCount: @(Model.Part)
    };
</script>
<script src="~/app/RangeMethod.js"></script>

<div style="padding:4px;">
    <form>
        <label for="appraiser">측정자</label>
        <input name="appraiser" value="@Model.Appraiser" />
        <label for="trial">파트</label>
        <input name="part" value="@Model.Part" />
        <button type="submit">적용</button>
    </form>
</div>

<div style="padding:4px;">
    <label for="sl">SL</label>
    <input id="sl" name="sl" value="24" type="number" />
    <label for="su">SU</label>
    <input id="su" name="su" value="24.2" type="number" />
    <button onclick="calcuate()">calcuate</button>
</div>


@* 헤더  *@




@* Captions *@
<div class="CaptionGrid">
    <div class="GridItem" style="grid-row: 1/3; grid-column:1;">
        <div class="CenterContainer">
            <span>측정자</span>
        </div>
    </div>
    <div class="GridItem" style="grid-row: 1; grid-column:2/@(Model.Part + 2);">
        <div class="CenterContainer">
            <span>부품(Part)</span>
        </div>
    </div>
    @for (int part = 1; part <= Model.Part; part++)
    {
        <div class="GridItem" style="grid-row: 2; grid-column:@(part + 1);">
            <div class="CenterContainer">
                <span>@part</span>
            </div>
        </div>
    }

    <div class="GridItem" style=" grid-row: 1/3; grid-column:@(Model.Part + 2);">
        <div class="CenterContainer">
            <span>평균</span>
        </div>
    </div>
</div>

@for (int appraiser = 1; appraiser <= Model.Appraiser; appraiser++)
{
    <div class="InputGrid">
        <div class="GridItem" style="grid-row: 1/3; grid-column:1;">
            <div class="CenterContainer">
                <span>@(appraiser)번</span>
            </div>
        </div>

        @for (int part = 1; part <= Model.Part; part++)
        {
            <div class="GridItem" style="grid-row: 1; grid-column:@(part + 1);">

                @* 측정값 입력 *@
                <input id="@(GetInputId(appraiser, part))"
                       appraiser="@appraiser" part="@(part)"
                       type="number"
                       onpaste="handlePaste(event)" />
            </div>
        }
        <div class="GridItem" style="grid-row: 1; grid-column:@(Model.Part + 2);">
            @* 측정값 평균 *@
            <input id="@(GetInputAvgId(appraiser))" readonly />
        </div>

    </div>
}

@* 범위 *@
<div class="RangeGrid">
    <div class="GridItem" style="grid-row: 1; grid-column:1;">
        <div class="CenterContainer">
            <span>범위</span>
        </div>
    </div>

    @for (int part = 1; part <= Model.Part; part++)
    {
        <div class="GridItem" style=" grid-row: 1; grid-column:@(part + 1);">

            <input id="@(GetRangeId(part))" readonly />
        </div>
    }

    <div class="GridItem" style="grid-row: 1; grid-column:@(Model.Part + 2);">
        @* 범위 평균 *@
        <input id="@(GetRangeAvgId())" readonly />
    </div>
</div>



@* 결과1 *@
<div class="OutputGrid">
    <div caption class="GridItem" style="grid-row: 1; grid-column:1;">
        <div class="CenterContainer">
            <span>R_</span>
        </div>
    </div>
    <div caption class="GridItem" style="grid-row: 2; grid-column:1;">
        <div class="CenterContainer">
            <span>Tolerance</span>
        </div>
    </div>
    <div caption class="GridItem" style="grid-row: 3; grid-column:1;">
        <div class="CenterContainer">
            <span>GRR</span>
        </div>
    </div>
    <div caption class="GridItem" style="grid-row: 4; grid-column:1;">
        <div class="CenterContainer">
            <span>GRR(%)</span>
        </div>
    </div>


    <div class="GridItem" style="grid-row: 1; grid-column:2;">
        <input id="output-r_" readonly />
    </div>
    <div class="GridItem" style="grid-row: 2; grid-column:2;">
        <input id="output-t" readonly />
    </div>
    <div class="GridItem" style="grid-row: 3; grid-column:2;">
        <input id="output-grr" readonly />
    </div>
    <div class="GridItem" style="grid-row: 4; grid-column:2;">
        <input id="output-grr_t" readonly />
    </div>
</div>

<script>

    //function GetInputId(appraiser, part) {
    //    return `input-${appraiser}-${part}`;
    //}

    //function GetInputAvgId(appraiser) {
    //    return `input-avg-${appraiser}`;
    //}

    //function GetRangeId(part) {
    //    return `range-${part}`;
    //}

    //function GetRangeAvgId() {
    //    return "range-avg";
    //}


    //function findInput(appraiser, part) {
    //    const id = GetInputId(appraiser, part);
    //    return document.getElementById(id);
    //}

    //function setText(appraiser, part, value) {
    //    const input = findInput(appraiser, part);
    //    if (input && value)
    //        input.value = parseFloat(value);
    //}

    //function handlePaste(e) {
    //    e.preventDefault();

    //    const startAppraiser = parseInt(e.target.attributes.appraiser.value);
    //    const startPart = parseInt(e.target.attributes.part.value);

    //    let data = e.clipboardData.getData('text');
    //    data = data.trim("\r\n")

    //    let values = data.split('\r\n');
    //    values = values.map(x => x.split('\t'));

    //    const inputAppraiserCount = values.length;
    //    const inputPartCount = values.reduce((accumulator, currentValue) => Math.max(accumulator, currentValue.length), 0);

    //    for (let appraiser = 0; appraiser < inputAppraiserCount; appraiser++) {
    //        for (let part = 0; part < inputPartCount; part++) {
    //            setText(startAppraiser + appraiser, startPart + part, values[appraiser][part]);
    //        }
    //    }
    //}

    //async function calcuate() {
    //    const input = {};

    //    input.AppraiserCount = totalAppraiser;
    //    input.PartCount = totalPart;
    //    input.SpecLower = parseFloat(document.getElementById("sl").value);
    //    input.SpecUpper = parseFloat(document.getElementById("su").value);
    //    //input.Unit = "MM";
    //    input.Unit = 0; // 0 for MM, 1 for INCH
    //    input.Records = [];

    //    for (let appraiser = 1; appraiser <= totalAppraiser; appraiser++) {
    //        for (let part = 1; part <= totalPart; part++) {
    //            const inputelement = findInput(appraiser, part);
    //            input.Records.push({
    //                Appraiser: appraiser,
    //                Part: part,
    //                Value: inputelement.value ? parseFloat(inputelement.value) : 0
    //            });
    //        }
    //    }

    //    const response = await fetch("/api/GageRR/Range", {
    //        method: "POST",
    //        headers: {
    //            "Content-Type": "application/json",
    //        },
    //        body: JSON.stringify(input),
    //    });

    //    const json = await response.json();


    //    document.getElementById("output-r_").value = json.R_;
    //    document.getElementById("output-t").value = (input.SpecUpper - input.SpecLower).toFixed(2);
    //    document.getElementById("output-grr").value = json.GRR;
    //    document.getElementById("output-grr_t").value = json.GRR_T;

    //    for (let part = 1; part <= totalPart; part++) {
    //        const rangeEdit = document.getElementById(GetRangeId(part));
    //        rangeEdit.value = json.PartRange[part];
    //    }

    //    const rangeAvgEdit = document.getElementById(GetRangeAvgId());
    //    rangeAvgEdit.value = json.R_;

    //}

</script>
